Flask
gunicorn
itsdangerous>=2.0
Jinja2>=3.0
MarkupSafe==1.1.1
Werkzeug>=2.0
numpy~=1.19.2
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
pandas>=0.19
example --use-feature=2020-resolver
